* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: indianred;
    color: #fff;
}

.container {
    padding-right: 2rem;
    padding-left: 2rem;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.navbar {
    background-color: darkblue;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.navbar-content {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.nav-item {
    text-decoration: none;
    color: #fff;
    margin-left: 1.5rem;
    font-size: 1rem;
    opacity: 0.5;
}

.nav-item:hover {
    opacity: 1;
}

.btn {
    border: 1px solid transparent;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.btn:focus {
    outline: 0;
}

.toggler {
    display: none;
}

@media (max-width:768px) {
    .toggler {
        display: block;
    }
    .navbar-nav {
        display: none;
        position: absolute;
        z-index: 1;
        background-color: darkblue;
        width: 100%;
        left: 0;
    }
    .nav-item {
        /* float: right; */
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
        opacity: 0.5;
        padding-bottom: 0.5rem;
        display: block;
    }
    .nav-item:hover {
        opacity: 1;
    }
}