*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: indianred;
    color: #fff;
}

.container{
    padding: 1rem;
}

.d-flex{
    display: flex;
}

.d-none{
    display:none;
}

.navbar{
    background-color: darkblue;
    justify-content: space-between;
    align-items: center;
}

.d-none{
    display: none;
}

.btn{
    border: 1px solid transparent;
    background-color: transparent;
    margin:0;
    padding:0;
    font-size: 1.5rem;
}

.btn:focus{
    outline:0;
}

@media (min-width:768px){
    .toggler{
        display: none;
    }
    
    .navbar-nav{
        
    }
}